header{
  border-bottom: 1px gray solid;
  padding: 20px;
}
nav{
  border-right: 1px gray solid;
  width:200px;
  height: 600px;
  float: left;
}
article{
  float:left;
  padding: 20px;
}
nav ol{
  list-style: none;
}
h2{
  font-size: 30px;
  color: red;
}
